<h2><%= @restaurant.name%></h2>
<br>
<h4>- Info:</h4>
<ul>
  <li>Adress: <%=@restaurant.address %></li>
  <li>Category: <%=@restaurant.category %></li>
  <li>Phone Number: <%=@restaurant.phone_number %></li>
</ul>
<br>
<h4>- Reviews:</h4>
<ul>
  <% @restaurant.reviews.each do |review| %>
      <li><%(review.rating.to_i).times do %>
        <i class="fas fa-star"></i>
      <% end %>
      / <%=review.content%></li>
    <% end %>
</ul>
<br>
<button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_restaurant_path(@restaurant), :class => "button" %></button>
<button type="button" class="btn btn-danger"><%= link_to 'Delete', restaurant_path(@restaurant), method: :delete, data: {confirm: "Are you sure?"}, :class => "button" %></button>
<button type="button" class="btn btn-success float-right"><%= link_to 'Add Review', new_restaurant_review_path(@restaurant), :class => "button" %></button>
<br>
<%=  link_to "Back to list", restaurants_path %>
